#edit-event{
    margin: 50px;
    display: grid;
    grid-template-areas:
    'title'
    'images'
    'edit';
    width: fit-content;
    justify-self: center;
}

#edit-event h2{
    grid-area: title;
    justify-self: center;
}
#edit-event #edit-event-images{
    grid-area: images;
    justify-self: center;
}
.edit-or-create {
    max-width: 800px;
    margin: 50px;
    width: 700px;
    justify-self: center;
}


.edit-or-create article {
    padding: 20px;
    background-color: var(--gray);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.edit-or-create label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.edit-or-create input[type="text"],
.edit-or-create input[type="number"],
.edit-or-create textarea,
.edit-or-create input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-or-create textarea {
    height: 100px;
    resize: vertical;
}

.button-update-event {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-update-event:hover {
    background-color: #45a049;
}

.text-danger {
    color: #ff0000;
    font-size: 14px;
}
